// SPACE MONO

@font-face {
  font-family: "Mono-Regular";
  font-weight: 400;
  src: url("../fonts/SpaceMono-Regular.ttf"); /* IE9 Compat Modes */
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Mono-Bold";
  font-weight: 700;
  src: url("../fonts/SpaceMono-Bold.ttf"); /* IE9 Compat Modes */
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Mono-BoldItalic";
  font-weight: 700;
  src: url("../fonts/SpaceMono-BoldItalic.ttf"); /* IE9 Compat Modes */
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Mono-Italic";
  font-weight: 400;
  src: url("../fonts/SpaceMono-Italic.ttf"); /* IE9 Compat Modes */
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
}

// LYYRA EXPANDED

@font-face {
  font-family: "Lyyra-Expanded-Black";
  font-weight: 900;
  src: url("../fonts/LyyraExpanded-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/LyyraExpanded-Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/LyyraExpanded-Black.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/LyyraExpanded-Black.woff")
      format("woff"); /* Pretty Modern Browsers */
}

// SWEAR DISPLAY

@font-face {
  font-family: "Swear-Display-Black-Cilati";
  font-weight: 900;
  src: url("../fonts/Swear_Display-Black_Cilati.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Swear_Display-Black_Cilati.woff")
      format("woff");
  /* Pretty Modern Browsers */
}
