@import "./styles/_fonts.scss";
@import "./styles/_colors.scss";

html {
  font-size: 16px;
  transition: font-size 0.25s linear;
}

body {
  background-color: $cream-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  min-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.page {
  height: 100%;
  width: 100%;
  &.home {
    display: flex;
    flex-direction: column;
    .main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      margin: 20px 64px;
      .tagline {
        align-self: flex-end;
      }
    }
  }
}

.marquee,
.marquee-r {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: $pink-1;
  p {
    font-family: "Inconsolata-SemiExpanded-SemiBold", "Courier New", monospace;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 20px;
    color: $cream-1;
    animation: marquee 4.1s linear infinite;
    display: inline-block;
    padding: 12px 0 12px 32px;
    margin: 0;
    text-transform: uppercase;
  }
}

.marquee-r p {
  animation-direction: reverse;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

h2 {
  font-family: "Swear-Display-Black-Cilati", "Helvetica", serif;
  font-size: 4rem;
  line-height: 4rem;
  color: $green-1;
  margin: 0;
}

h1 {
  font-family: "Lyyra-Expanded-Black", "Helvetica", sans-serif;
  // font-size: 120px;
  font-size: 8vw;
  line-height: 6.5vw;
  letter-spacing: 0.2vw;
  color: $cream-1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $green-1;
  margin: 0;
  transition: all 0.25s linear;
}

.background {
  position: absolute;
  z-index: -1;
}

.top-image {
  top: 16%;
  right: 0;
  .caption {
    text-align: right;
    padding-bottom: 12px;
    padding-right: 12px;
  }
  img {
    width: 36vw;
    opacity: 0.7;
    mix-blend-mode: multiply;
  }
}

.bottom-image {
  bottom: 10%;
  left: -80px;
  img {
    width: 36vw;
    opacity: 0.7;
    mix-blend-mode: multiply;
  }
}

.caption {
  font-family: "Inconsolata-SemiExpanded-SemiBold", "Courier New", monospace;
  font-size: 14px;
  color: $green-1;
  margin: 0;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 10vw;
    line-height: 9vw;
    -webkit-text-stroke-width: 1px;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .page.home .main {
    margin: 20px;
  }
  .top-image {
    left: 0;
    right: unset;
    .caption {
      display: none;
    }
    img {
      width: initial;
      height: 25vh;
    }
  }
  .bottom-image {
    right: 0;
    left: unset;
    bottom: 22%;
    img {
      width: initial;
      height: 18vh;
    }
  }
}

@media (min-width: 481px) and (max-width: 824px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 9vw;
    line-height: 8vw;
    -webkit-text-stroke-width: 2px;
  }
  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .page.home .main {
    margin: 20px 32px;
  }
  .top-image {
    .caption {
      display: none;
    }
    img {
      width: initial;
      height: 25vh;
    }
  }
  .bottom-image {
    bottom: 15%;
    img {
      width: initial;
      height: 22vh;
    }
  }
}
