@import "./styles/_fonts.scss";
@import "./styles/_colors.scss";
@import "./styles/button-normalize";

html {
  font-size: 16px;
  transition: font-size 0.25s linear;
}

body {
  background-color: $cream-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
}

.page {
  height: 100vh;
  width: 100%;
  &.home {
    display: flex;
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 20px 64px;
  .tagline {
    align-self: flex-end;
    text-align: right;
  }
}

.marquee,
.marquee-r {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: $pink-1;
  p {
    font-family: "Mono-Regular", "Courier New", monospace;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    color: $cream-1;
    animation: marquee 4.1s linear infinite;
    display: inline-block;
    padding: 12px 0 12px 6px;
    margin: 0;
    text-transform: uppercase;
    b {
      font-family: "Mono-Bold", "Courier New", monospace;
      font-weight: 700;
    }
    span {
      letter-spacing: -3px;
    }
  }
}

.marquee-r p {
  animation-direction: reverse;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

p {
  margin: 0;
  font-family: "Mono-Regular", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $green-1;
  b {
    font-family: "Mono-Bold", "Courier New", monospace;
  }
  a {
    color: $green-1;
  }
}

h1 {
  font-family: "Lyyra-Expanded-Black", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  line-height: 6.5vw;
  letter-spacing: 0.2vw;
  color: $cream-1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $green-1;
  margin: 0;
  transition: all 0.25s linear;
}

h2 {
  font-family: "Lyyra-Expanded-Black", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 5vw;
  line-height: 3.5vw;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  color: $cream-1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $green-1;
  margin: 0;
  transition: all 0.25s linear;
}

h3 {
  font-family: "Swear-Display-Black-Cilati", "Helvetica", serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4rem;
  color: $green-1;
  margin: 0;
}

.background {
  position: absolute;
  z-index: -1;
}

.top-image {
  top: 16%;
  right: 0;
  .caption {
    text-align: right;
    padding-bottom: 12px;
    padding-right: 12px;
  }
  img {
    width: 36vw;
    opacity: 0.7;
    mix-blend-mode: multiply;
  }
}

.bottom-image {
  bottom: 10%;
  left: -80px;
  img {
    width: 36vw;
    opacity: 0.7;
    mix-blend-mode: multiply;
  }
}

.caption {
  font-family: "Mono-Regular", "Courier New", monospace;
  font-weight: 600;
  font-size: 14px;
  color: $green-1;
  margin: 0;
  text-transform: uppercase;
}

/* sections ----------- */
.bright {
  background: $bright;
  h2 {
    color: $bright;
    -webkit-text-stroke-color: $pink-1;
  }
}

.tinted {
  p {
    color: $green-1;
  }
  h2 {
    color: $cream-1;
    -webkit-text-stroke-color: $green-1;
  }
}

.content {
  padding: 4vw 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 64px 64px 40px 64px;
}

.detailsTable {
  border: 3px solid $green-1;
  .row {
    display: flex;
    flex-direction: row;
    .cell {
      padding: 20px 20px 20px 32px;
      border-bottom: 3px solid $green-1;
      &.label {
        display: flex;
        justify-content: center;
        width: 80px;
        border-right: 3px solid $green-1;
        &.wide {
          width: 150px;
        }
      }
    }
    &:last-child {
      .cell {
        border-bottom: none;
      }
    }
    .detail {
      flex: auto;
    }
  }
}

.rsvp {
  display: flex;
  flex-direction: row-reverse;
  a {
    font-family: "Swear-Display-Black-Cilati", "Helvetica", serif;
    font-size: 2rem;
    text-decoration: none;
    padding: 8px 20px;
    border: 3px solid $green-1;
    background-color: $bright;
    color: $green-1;
    transition: 0.2s all linear;
    -webkit-appearance: none;
    &:hover {
      background-color: $green-1;
      color: $bright;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  h3 {
    color: $pink-2;
  }
}

.two-up {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  div {
    flex: 1;
    margin-top: 32px;
    &:first-child {
      margin-top: 0;
      margin-right: 64px;
    }
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 12px;
  }
  p {
    color: $body;
    margin-bottom: 12px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    a {
      font-family: "Mono-Bold", "Courier New", monospace;
      display: block;
      color: $body;
      &:only-child {
        display: inline-block;
      }
    }
  }
}

/* phone ----------- */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 10vw;
    line-height: 9vw;
    -webkit-text-stroke-width: 1px;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .page.home .main {
    margin: 3% 20px 3.5% 20px;
  }
  .top-image {
    left: 0;
    right: unset;
    .caption {
      display: none;
    }
    img {
      width: initial;
      height: 25vh;
    }
  }
  .bottom-image {
    right: 0;
    left: unset;
    bottom: 22%;
    img {
      width: initial;
      height: 18vh;
    }
  }

  .two-up {
    flex-direction: column;
    div:first-child {
      margin-right: 0;
    }
  }

  .detailsTable {
    width: 100%;
    .row {
      flex-direction: column;
      border-bottom: 3px solid $green-1;
      .cell {
        border: none;
        width: auto;
        padding: 12px;
        &.label {
          border: none;
          display: block;
        }
        &:first-child {
          padding-bottom: 0;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
}

/* iPad (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .top-image {
    left: 0;
    right: unset;
    .caption {
      display: none;
    }
    img {
      width: initial;
      height: 35vh;
    }
  }
  .bottom-image {
    right: 0;
    left: unset;
    bottom: 12%;
    img {
      width: initial;
      height: 28vh;
    }
  }
  .two-up {
    flex-direction: column;
    div:first-child {
      margin-right: 0;
    }
  }

  .detailsTable {
    width: 100%;
    .row {
      flex-direction: column;
      border-bottom: 3px solid $green-1;
      .cell {
        border: none;
        width: auto;
        padding: 12px;
        &.label {
          border: none;
          display: block;
        }
        &:first-child {
          padding-bottom: 0;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 824px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 9vw;
    line-height: 8vw;
    -webkit-text-stroke-width: 2px;
  }
  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .page.home .main {
    margin: 20px 32px;
  }
  .top-image {
    .caption {
      display: none;
    }
    img {
      width: initial;
      height: 25vh;
    }
  }
  .bottom-image {
    bottom: 15%;
    img {
      width: initial;
      height: 22vh;
    }
  }

  .two-up {
    flex-direction: column;
    div:first-child {
      margin-right: 0;
    }
  }

  .detailsTable {
    width: 100%;
    .row {
      flex-direction: column;
      border-bottom: 3px solid $green-1;
      .cell {
        border: none;
        width: auto;
        padding: 12px;
        &.label {
          border: none;
          display: block;
        }
        &:first-child {
          padding-bottom: 0;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
}
